<div class="row mt-5">
    <div class="col-sm-2 col-md-3"></div>
    <div class="col-sm-8 col-md-6">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="pt" placeholder="name@example.com">
            <label for="pt">Brand</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="pi" placeholder="Password">
            <label for="pi">Image URL</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="pd" placeholder="Password">
            <label for="pd">Descrption</label>
          </div>
          <button class="btn btn-warning float-end">Add</button>
    </div>
    <div class="col-sm-2 col-md-3"></div>
</div>